.doctor-lists {
	padding: 20upx;
}

.doctor-list-top {
	display: flex;
	flex-direction: row;
}

/* 医师讲堂左右标题 */
.d-l-title {
	flex: 9;
	font-size: 32upx;
	font-weight: bold;
}

.d-r-title {
	flex: 2;
	font-size: 32upx;
}

/* 医师讲堂内容 */
.doctor-lists .d-items {
	padding-top: 20upx;
	display: flex;
}

.d-items-right {
	flex: 4;
	display: flex;
	flex-direction: column;
}

.d-item-title {
	font-weight: bold;
	font-size: 32upx;
	height: 84upx;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.d-item-content {
	margin-top: 10upx;
	color: #bfbfbf;
	width: 432upx;
	height: 96upx;
	font-size: 24upx;
	/*首行缩进*/
	text-indent: 48upx;
	/*显示省略符号修剪*/
	/* text-overflow: ellipsis; */
	display: -webkit-box;
	/* 从上向下垂直排列子元素。 */
	-webkit-box-orient: vertical;
	/* 显示的行数 */
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.d-item-bottom {
	height: 48upx;
	font-size: 24upx;
	color: #bfbfbf;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	flex-wrap: nowrap;
}
.d-item-bottom .d-item-name{
	flex: 1;
	color: #666666;
}
.d-item-bottom .d-item-yiyuan{
	flex: 4;
	margin-left: 50upx;
	color: #666666;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}


.d-items-left {
	flex: 3;
	text-align: center;
}

.d-items-right .d-item-img {
	width: 250upx;
}

.d-items-right .d-item-img image {
	width: 250upx;
	height: 250upx;
}



