.d-items{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 10upx;
	padding: 5px;
	box-sizing: border-box;
}
.searchtxt{
	flex: 1;
	height: 46px;
	line-height: 100px;
	color: #3C3C3C;
	border: 1px solid #8C8C8C;
	border-radius: 25px;
	padding-left: 15px;
	box-sizing: border-box;
	margin-right: 5px;
}
.searchbtn{
	text-align: center;
	width: 64px;
	height: 46px;
	line-height: 46px;
	background-color: #007AFF;
	color: #FFFFFF;
	border-radius: 10px;
}





.mylists2{
	/* margin-top: 15px; */
}
.my-item2{
	display: flex;
	flex-direction: row;
	height: 100upx;
	line-height: 100upx;
	padding:0px 15px 5px;
}
.my-item2 .item-left2{
	/* flex: 2; */
}
.my-item2 .item-center2{
	margin-left: 10px;
	flex: 9;
	font-size: 14px;
}
.my-item2 .item-right2{
	flex: 1;
}
.xian{
	margin: 0 auto;
	width: 90%;
	height: 1px;
	background-color: #CCCCCC;
}