.global-ground{
	padding-top: 20px;
}
.aliicon{
	font-size: 128upx;
}

.appointments{
	display: flex;
	flex-direction: row;
	height: 256upx;
	margin: 0px 10px 10px;
	background-color: #fff;
	border-radius: 20px;
	/*边框盒，防止设置向外扩*/
	box-sizing: border-box;
	/*边框阴影*/
	box-shadow:2px 2px 10px #DCDEE6;
}
.appointments-left{
	flex: 8;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}

/* 医师头像 */
.appointment-left{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
	width: 200upx;
}
.appointment-left image{
	width: 100%;
	height: 200upx;
}
/* 医师信息简介 */
.appointment-center{
	flex: 8;
	display: flex;
	flex-direction: column;
	padding: 10px;
	box-sizing: border-box;
}
/* 医师信息头部 */
.doctor-header{
	flex: 1;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	align-items: center ;
}
.doctor-name{
	flex: 3;
	font-size: 20px;
}
/* --医师任职 */
.doctor-physician{
	flex: 3;
	font-size: 14px;
}
/* 医师信息中间 */
.doctor-center{
	flex: 1;
}
.physicians-disciplines{
	color: #6B6B6B;
	font-size: 14px;
}
/* 医师信息底部 */
.doctor-bottom{
	flex: 2;
	display: flex;
	flex-direction: column;
	width: 300upx;
}
/* 医师来自地点 */
.physicians-site{
	color: #6B6B6B;
	font-size: 14px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.doctor-bottom uni-rate{
}

/* 预约 */
.appointments-right{
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #4782FF;
	border-radius: 0px 20px 20px 0px;
	color: #FFFFFF;
}
.appointment-right text{
	font-size: 18px;
}